

body {
	display: flex;
	background: #ffffff url(../images/layout/IMG_4157.jpg); /* Background pattern from Subtle Patterns */
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;

	.main {
		z-index: 3;
	}	

//video header
	.v-header {
		
		display: flex;
		max-width:960px;
		padding-left:1rem;
		padding-right:1rem;
		margin:auto;
		text-align:center;

		.video-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			overflow: hidden;

			.video {
				min-width: 100%;
				min-height: 100%;
			}
		}

		.video-overlay {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: #225470;
			z-index: 0;
			opacity: 0.1;
		}
	}
}
/* deck */
.deck {
	width: 378px;
	margin: 0 auto;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	padding: 16px;
	border-radius: 10px;
	box-shadow: 14px 14px 0 0 #000;
	z-index: 2;

	.card {
		height: 75px;
		width: 75px;
		// background: $card-background;
		background: #2e3d49;
		box-shadow: 5px 5px 0 0 #000;
		display: inline-block;
		margin: 0 15px 15px 0;
		font-size: 0rem;
		color: #fff;
		text-align: center;
		border-radius: 8px;
		vertical-align: top;
		cursor: pointer;
		transform: rotateY(180deg);
		transform-style: preserve-3d;
		transition: transform 0.3s ease;
		line-height: 75px;

		img {
			display: none;
		}

		&:nth-child(4n) {
			margin: 0 0 15px 0;
		}
		
		&:nth-child(n+13) {
			margin: 0 15px 0 0;

			&:nth-child(4n) {
				margin: 0;
			}
		}

		&.open {
			transform: rotateY(0deg);
			background: $card-opened-background;
			cursor: default;
		}

		&.match {
			background: $card-match-background;
			img {
				display: inline-block;
			}
		}

		&.show {
			img {
				display: inline-block;
			}
		}

		&.notmatch {
			background:$card-notmatch-background;
		}

	}
}

/* score-panel */
.score-panel {
	text-align: left;
	width: 345px;
	margin-bottom: 10px;
	z-index: 3;
	color: #fff;

	h1 {
		text-align: center;
		color: #fff;
	}

	.stars {
		margin: 0;
		padding: 0;
		display: inline-block;
		margin: 0 5px 0 0;

		li {
			list-style: none;
			display: inline-block;
		}
	}

	.restart {
		display: inline-block;
		float: right;
		cursor: pointer;
	}
}

